################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement/bin/Debug/net8.0
/TaskManagement/obj
